html {
    font-size: 62.5%; /* -> 10px; */
}

.space{
    padding: 10px;
    /* background-color: yellow; */
}

.card {
    padding-top: 150%;

    background: deepskyblue;

    box-sizing: border-box;
    /* border: 10px solid;
    border-radius: 20px; */
    border: 3vw solid;
    border-radius: 4vw;

    position: relative;
}

.card span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);

    font-size: 50vw;
    font-weight: bold;
    -webkit-text-stroke: 2vw black;
    color: white;
}

ion-button {
    --background: deepskyblue;
    --color: white;
}
