body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: constant(safe-area-insent-top);
  padding-top: env(safe-area-insent-top);
  padding-left: constant(safe-area-insent-top);
  padding-left: env(safe-area-insent-top);
  padding-right: constant(safe-area-insent-top);
  padding-right: env(safe-area-insent-top);
  padding-bottom: constant(safe-area-insent-top);
  padding-bottom: env(safe-area-insent-top);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
